<!doctype html>
<html>
<head>
    <title>Editor</title>
</head>
<body>
    <style>
        .source,
        .output {
            width: 50%;
            float: left;
        }
    </style>
    <div class="source">
        <pre><%= source %></pre>
    </div>
    <div class="output">
        <%- html %>
    </div>
</body>
</html>
