doctype html
head
    title #{title}
body
    div.container
        h1.title #{header}
        p #{content}
        h2 Goodbye

        h3 Farewell
        != partial('_partial')
style.
    .title {
        color: red;
    }