doctype html
html
    head
        title #{title}

        link(rel='stylesheet', href='css/style.css')
    body
        style.
            .title {
                color: red;
            }
        div.container
            h1.title #{header}
            p #{content}
            h2 Goodbye

            h3 Farewell
            != partial('_partial')
